.App {
margin: 0 2em;}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 1.7em;
  margin-top:.3em;
}

.App-header {
  background-color: #222;
  padding: 0;
  height:2.3em;
  margin-bottom: 3em;
}

.App-title {
  display: inline-block;
  margin:0;
  padding:0;
  vertical-align:top;
  line-height: 2em;
  font-size: 1.15em;
  color:#fff;
  text-transform: uppercase;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
